@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body, div, section, article, main, aside {
    box-sizing: border-box;
    padding: 0.2rem;
}
body {
  @apply bg-[linear-gradient(135deg,#ff5f6d,#ffc371,#7b2ff7)];
}
img {
  padding: 0;
}